table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
th,td{
    padding: 10px;
}
th{
    
    color:white;
}
thead{
    background-color: black;
}
#colorrojo{
    color:red;
}
#fotoaling{
    text-align: left;
}
main,header{
    margin: auto 290px;
}
#fotoaling2{
    text-align: right;
}
